<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>

        <thead th:fragment="head">
            <tr>
                <th style="width: 20%" scope="col"></th>
                <th style="width: 20%" scope="col">Title</th>
                <th style="width: 60%" scope="col">Description</th>
            </tr>
        </thead>

        <td th:fragment="button-group">
            <button
                    type="button"
                    class="btn btn-success"
                    th:onclick="editNote([[${note}]])"
            >
                Edit
            </button>
            <a
                    class="btn btn-danger"
                    th:href="@{/notes/note?noteId={noteId}(noteId=${note.noteId})}"
            >
                Delete
            </a>
        </td>
    </body>
</html>