<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <div th:insert="fragments/header :: form"></div>
            </div>
            <div id="contentDiv" style="clear: right;">

                <div th:insert="fragments/header :: tabs"></div>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">

                        <div th:insert="fragments/file :: form"></div>

                        <div class="table-responsive">
                            <div th:insert="fragments/file :: table"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button
                                style="margin: 0.25em;"
                                type="button"
                                class="btn btn-info float-right"
                                onclick="showNoteModal()"
                                id="note-creation-btn"
                        >
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="note: ${noteList}" class="note-elements">
                                        <td>
                                            <button
                                                    type="button"
                                                    class="btn btn-success"
                                                    th:onclick="editNote([[${note}]])"
                                            >
                                                Edit
                                            </button>
                                            <a
                                                    class="btn btn-danger"
                                                    th:href="@{/notes/note?noteId={noteId}(noteId=${note.noteId})}"
                                            >
                                                Delete
                                            </a>
                                        </td>
                                        <th th:text="${note.noteTitle}" />
                                        <td th:text="${note.noteDescription}" />
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div th:replace="fragments/note/modal :: header"></div>
                                    <div class="modal-body">
                                        <div th:insert="fragments/note/modal :: form"></div>
                                    </div>
                                    <div th:replace="fragments/note/modal :: footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>

                        <div th:replace="fragments/credential/table :: table"></div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div th:replace="fragments/credential/modal :: header"></div>
                                    <div class="modal-body">
                                        <div th:insert="fragments/credential/modal :: form"></div>
                                    </div>
                                    <div th:replace="fragments/credential/modal :: footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            function editNote(note) {
                $('#note-id').val(note.noteId);
                $('#note-title').val(note.noteTitle);
                $('#note-description').val(note.noteDescription);
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>