<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>


        <div class="modal-header" th:fragment="header">
            <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <form action="#" method="POST" th:fragment="form">
            <input type="hidden" name="credentialId" id="credential-id">
            <div class="form-group">
                <label for="note-title" class="col-form-label">URL</label>
                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
            </div>
            <div class="form-group">
                <label for="note-title" class="col-form-label">Username</label>
                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
            </div>
            <div class="form-group">
                <label for="note-title" class="col-form-label">Password</label>
                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
            </div>
            <button id="credentialSubmit" type="submit" class="d-none"></button>
        </form>


        <div class="modal-footer" th:fragment="footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
        </div>
    </body>
</html>