<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>


        <div class="table-responsive" th:fragment="table">
            <table class="table table-striped" id="credentialTable">
                <thead>
                <tr>
                    <th style="width: 20%" scope="col"></th>
                    <th style="width: 35%" scope="col">URL</th>
                    <th style="width: 20%" scope="col">Username</th>
                    <th style="width: 25%" scope="col">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="credential: ${credentialList}">
                    <td>

                        <button
                                type="button"
                                class="btn btn-success"
                                th:onclick="editCredential([[${credential}]])"
                        >
                            Edit
                        </button>
                        <a
                                class="btn btn-danger"
                                th:href="@{/credentials/credential?credentialId={credentialId}(credentialId=${credential.credentialId})}"
                        >
                            Delete
                        </a>
                    </td>
                    <th scope="row" th:text="${credential.url}" />
                    <td th:text="${credential.username}" />
                    <td th:text="${credential.password}" />
                </tr>
                </tbody>
            </table>
        </div>


    </body>
</html>