<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>


        <div class="table-responsive" th:fragment="table">
            <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                <thead>
                <tr>
                    <th style="width: 20%" scope="col"></th>
                    <th style="width: 35%" scope="col">URL</th>
                    <th style="width: 20%" scope="col">Username</th>
                    <th style="width: 25%" scope="col">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-success">Edit</button>
                        <a class="btn btn-danger">Delete</a>
                    </td>
                    <th scope="row">Example Credential URL</th>
                    <td>Example Credential Username</td>
                    <td>Example Credential Password</td>
                </tr>
                </tbody>
            </table>
        </div>


    </body>
</html>