<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//http://mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.udacity.jwdnd.course1.cloudstorage.mappers.UserFileMapper" >

    <resultMap id="BaseResultMap" type="com.udacity.jwdnd.course1.cloudstorage.models.UserFileVO" >
        <result column="fileid" property="fileId" jdbcType="INTEGER" />
        <result column="filename" property="fileName" jdbcType="VARCHAR" />
        <result column="contenttype" property="contentType" jdbcType="VARCHAR" />
        <result column="filesize" property="fileSize" jdbcType="VARCHAR" />
        <result column="userid" property="userId" jdbcType="INTEGER" />
        <result column="filedata" property="fileData" jdbcType="BLOB" />
    </resultMap>

    <select id="getFileByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
            fileid,
            filename,
            contenttype,
            filesize,
            u.userid,
            filedata
        FROM
            files f
        INNER JOIN
            users u
        WHERE
            f.userid = u.userid
            AND
            username = #{username}
    </select>

    <select id="getFileByUsernameAndFileName" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT
        fileid,
        filename,
        contenttype,
        filesize,
        u.userid,
        filedata
        FROM
        files f
        INNER JOIN
        users u
        WHERE
        f.userid = u.userid
        AND
        username = #{username}
        AND
        filename = #{filename}
    </select>
</mapper>