<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//http://mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.udacity.jwdnd.course1.cloudstorage.mappers.UserCredentialMapper" >

    <resultMap id="BaseResultMap" type="com.udacity.jwdnd.course1.cloudstorage.models.UserCredentialVO" >
        <result column="credentialid" property="credentialId" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="key" property="key" jdbcType="VARCHAR" />
        <result column="userid" property="userId" jdbcType="INTEGER" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getCredentialsByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        c.credentialid,
        c.url,
        c.username,
        c.key,
        u.userid,
        c.password
        FROM
        credentials c
        INNER JOIN users u ON c.userid = u.userid
        WHERE
        u.username = #{username}
    </select>
</mapper>